extends layout

block content

    // Wrapper
    #wrapper

        // MENU
        #menu
            p
                | <a href="/">Home</a> 
                br
                | <a href="./newfeedback">Write Feedback</a> 
                br
                | <a href="./feedbacklist">Feedback List</a> 
        // /MENU

        // CONFIRMATION
        h2 Your Feedback has been sent successfully!

        // /CONFIRMATION

    // /WRAPPER